* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eae4d8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  width: 490px;
  height: auto;
  background-color: black;
  margin: 150px auto;
  border-radius: 20px;
  padding: 16px;
}

.answer {
  color: white;
  background-color: #322d22;
  border-radius: 20px;
  font-size: 70px;
  text-align: end;
  padding: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  border: none;
  color: white;
  border-radius: 20px;
  padding: 18px 20px;
  width: 22%;
  margin: 10px 6px;
  font-size: 30px;
  background-color: rgb(107, 93, 93);
}

.button--big {
  padding: 30px 190px 26px 20px;
}

.button--right {
  background-color: rgb(176, 128, 39);
}

.button--top {
  background-color: rgba(160, 149, 149, 0.342);
}